arandr==0.1.11
attrs==25.3.0
beautifulsoup4==4.13.3
certifi==2025.7.9
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
contourpy==1.3.2
crit==4.1
cryptography==45.0.5
cycler==0.12.1
dbus-python==1.4.0
distro==1.9.0
distro-info==1.11
filelock==3.18.0
fonttools==4.58.5
gps==3.26.1
helpdev==0.7.1
i3ipc==2.2.1
idna==3.10
jedi==0.19.2
kiwisolver==1.4.6
libfdt==1.7.2
lit==20.1.0.dev0
Markdown==3.8.2
matplotlib==3.10.3
meson==1.8.2
nftables==0.1
nlopt==2.10.0
numpy==2.3.1
nwg-displays==0.3.25
packaging==25.0
parso==0.8.4
pillow==11.3.0
ply==3.11
podman-compose==1.5.0
protobuf==6.31.1
psutil==7.0.0
pulsemixer==1.5.1
pycairo==1.28.0
pycparser==2.22
pycriu==4.1
PyGObject==3.52.3
pyparsing==3.2.3
PySide6==6.9.1
python-dateutil==2.9.0
python-dotenv==1.1.1
python-xlib==0.33
PyYAML==6.0.2
QDarkStyle==3.2.3
QtPy==2.4.3
requests==2.32.4
shiboken6==6.9.1
shiboken6-generator==6.9.1
six==1.17.0
soupsieve==2.6
TBB==0.2
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
wheel==0.45.1
wxPython==4.2.3
yt-dlp==2025.6.30
